In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.DataFrame({
    "A":[1,2,3,4],
    "B":[3,4,6,8]
})

print(type(df))
print(len(df))
display(df)
print("pakistan")

<class 'pandas.core.frame.DataFrame'>
4

   A  B
0  1  3
1  2  4
2  3  6
3  4  8

pakistan

In [9]:
df.to_excel("f1.xlsx", index=False) #relative path->folder/folder/f1.txt
                        # <-../parentfolder1/parentfolder2

In [10]:
df.to_excel("c1/c2/c3/f1.xlsx", index=False) #relative path->folder/folder/f1.txt

In [11]:
df.to_excel("../data/c1/f1.xlsx", index=False) #relative path->folder/folder/f1.txt

In [13]:
df.to_excel("D:\abc.xlsx", index=False) #relative path->folder/folder/f1.txt

OSError: [Errno 22] Invalid argument: 'D:\x07bc.xlsx'

In [14]:
df.to_excel("D:/abc.xlsx", index=False) #relative path->folder/folder/f1.txt

In [15]:
df.to_excel(r"D:\abc.xlsx", index=False) #relative path->folder/folder/f1.txt

In [16]:
df.to_csv("abc.csv", index=False)

In [17]:
df.to_pickle("abc.pkl")

In [18]:
df.to_html("abc.html")

In [19]:
df.to_markdown("Readme.md")

# Read data from external sources

# Read from csv with absolute path

In [20]:
df1 = pd.read_csv("https://raw.githubusercontent.com/EnggQasim/Saylani-AI-Batch3/main/MachineLearning/1_Data_Test_Train_Validation_Qaulitative_Quantitative/2_Regression/data/weight-height.csv")
df1

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [21]:
df2 = pd.read_csv("C:\Users\HAJOKHIO.15275\Desktop\NED PGD\Data Visualization\data\weight-height.csv")
df2

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1173862687.py, line 1)

In [23]:
df2 = pd.read_csv(r"C:\Users\HAJOKHIO.15275\Desktop\NED PGD\Data Visualization\data\weight-height.csv",
        encoding="cp1252")
df2

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

# Attendance

In [27]:
x ="""
Rozina Mazhar Ali2:21 PM
4220159083880
Hassan Khan2:27 PM
Voice is clear
Syed Ammad Waheed2:28 PM
4210113863591 Syed Ammad Waheed Hassani
zain abidi2:28 PM
4250119167549
Dewan S Khan2:28 PM
4220105630741
taimoor qureshi2:28 PM
4240179641627
Syed Rafiq ul Hoda2:28 PM
4210107768583
Sania Tehseen2:28 PM
4210115022744
Hassan Khan2:28 PM
4240160019477
Mushyada Ali2:28 PM
4210103553847
Tatheer Fatima2:28 PM
4210124609792
Rahat Qayoum EB20_110 (20102110)2:29 PM
4240128161338
Muneeb Ahmed2:29 PM
4210183427183
Sumayya Kamran EB20_125 (EB20102125)2:29 PM
4250106544552
syed daniyal2:30 PM
4250189782769
Hassan Khan2:31 PM
Sir, Please share the screen
Syeeda Hashmi2:33 PM
4210129511133- tabish ahmed
Saba Naz2:34 PM
4250125987808
Zeeshan Javed2:34 PM
4230189725317
zain abidi2:34 PM
4230139662957
Tatheer Fatima2:39 PM
Kindly share the screen
Tariq Mehmood2:39 PM
Kindly share the screen
usman ahmad2:40 PM
sir kindly share the screen
Tabish sheikh2:41 PM
4210129511133 - Tabish
Rahat Qayoum EB20_110 (20102110)2:41 PM
Sir, aren't we gonna practice today?
Muhammad Atique Qayyum2:45 PM
sir your screen is not showing
Shoaib Abdul Razzaque2:54 PM
5140176791651
Syed Usama Shahzad2:54 PM
Awaz arhe hai mere kisi ko?
Question kerne per?
Mohsin Kanani2:55 PM
Nahi
Syed Usama Shahzad2:55 PM
Ok
Muhammad Rohan3:01 PM
4210116966995
syed daniyal3:08 PM
df = DataFrame : is not define 
but i already define but it shows an error , df is not define
Nazneen Akram3:10 PM
have you imported pandas library
Mushyada Ali3:10 PM
use df= pd.DataFrame(provide required arguments) after importing pandas as pd
syed daniyal3:10 PM
error:- ValueError: Invalid file path or buffer object type: <class ‘NoneType’>
syed daniyal3:13 PM
as i already import pandas as pd but it has  not been working, kindly guide it and after kernel restart
Nazneen Akram3:14 PM
please share complete code
Arsalan Ahmed3:15 PM
4220165351957
Syed Usama Shahzad3:15 PM
4210134163079
Hassan Khan3:15 PM
4240160019477
Syed Kashif Ahmed3:15 PM
42501-4448854-5
syed daniyal3:26 PM
where will get the excel file or we make own excel file sir??
where will i get/import the excel file or we make own excel file sir??
Mushyada Ali3:27 PM
he is saving the dataframe in the excel
Syed Usama Shahzad3:28 PM
saving data into excel file.  This will create a new excel file with this data
syed daniyal3:28 PM
i am not getting/understanding  properly, anyone can explain once
Dewan S Khan3:30 PM
4220105630741
Hassan Khan3:30 PM
4240160019477
Muhammad Rohan3:30 PM
4210116966995
usman ahmad3:31 PM
4220113316709
manal khan3:31 PM
4210170238438
Tariq Mehmood3:31 PM
4220104505899
Zeeshan Naqvi3:32 PM
4210151751811
syed daniyal3:41 PM
are we creating file html, xslx, etc etc and why are we creating these files?
Munir Ali3:43 PM
4220101410369
4220117852609
Zahid Bashir3:43 PM
4250191411023
Afnan Ali3:43 PM
4210146436547
Mohsin Kanani3:44 PM
4230108335683
Syed Tanveer3:44 PM
4220169252467
HAREEM RIZVI3:44 PM
42101-3311570-4
Nazneen Akram3:44 PM
4210145447712
Syed Ali3:46 PM
Syed Masroor Ali, 42401-1880106-5
syed daniyal3:47 PM
yes sir
yes sir
Malik Humza3:48 PM
4240105171159
Hassan Ahmed3:48 PM
4220156089133
Muneeb Ahmed3:48 PM
4210183427183
Khizra Rizvi3:48 PM
5440047459326
Asima Ali3:49 PM
4420626938874
Ali Naiyar3:49 PM
4210198030681
syed daniyal3:50 PM
why we define df = DataFrame  every time  and after we do for print, we use print(df) ?
syed daniyal3:51 PM
r is used to read file?
Shoaib Abdul Razzaque3:54 PM
5140176791651
syed daniyal3:55 PM
i didn't understand, please elaborate widely deeply
Wasiq Gt3:58 PM
4250104502069
Muhammad Rohan3:58 PM
4210116966995
Muhammad Atique Qayyum3:58 PM
4220140225263
Fazal Diyan3:58 PM
4230199459921
Hassan Khan3:58 PM
4240160019477
Yusra Adnan3:58 PM
4210164790696
Rahat Qayoum EB20_110 (20102110)3:58 PM
4240128161338
Muhammad Ayaz3:59 PM
4410242997959
Dewan S Khan3:59 PM
4220105630741
Nofil Ahmed3:59 PM
4210175076663
Tabish sheikh3:59 PM
4210129511133
Qazi Moawiz3:59 PM
3130399221225
Fazal Diyan3:59 PM
4250110257001
Syed Usama Shahzad3:59 PM
4210134163079
Qazi Moawiz3:59 PM
4210156195059
Zareen Fatima4:00 PM
3520269403788
manal khan4:00 PM
SIR SHARE YOUR GITHUB ACCOUNT ON UGD DATA SCIENCE GROUP TOO!!!!!
syed daniyal4:00 PM
df.plot(kind='scatter'
it shows df is not define properly
Tabassum Ali4:00 PM
4230123126547
Syed Sajjad Raxa4:00 PM
4220143471143
4240114707349
4210141137977
syed daniyal4:01 PM
why we use  single ' ' and " " commas?
Ad Khan4:01 PM
muhammad adnan khan 4220113823383
Bilal Ahmed4:02 PM
4210120075463
Bilal Ahmed
myd-bnjm-grb
""".replace("-","")

import re

cnic = pd.DataFrame({"cnic":list(set(re.findall("\d{13}",x)))})

def cnic1(x):
    return x[:5] + "-" + x[5:12] + "-" + x[12:]

cnic['cnic1'] = cnic.cnic.apply(cnic1)
print(len(cnic))
cnic

57

             cnic            cnic1
0   4240118801065  42401-1880106-5
1   4250104502069  42501-0450206-9
2   5140176791651  51401-7679165-1
3   4210170238438  42101-7023843-8
4   5440047459326  54400-4745932-6
5   4220143471143  42201-4347114-3
6   4220117852609  42201-1785260-9
7   4240128161338  42401-2816133-8
8   4210107768583  42101-0776858-3
9   4220165351957  42201-6535195-7
10  4220105630741  42201-0563074-1
11  4210113863591  42101-1386359-1
12  4220104505899  42201-0450589-9
13  4250189782769  42501-8978276-9
14  4230199459921  42301-9945992-1
15  4250191411023  42501-9141102-3
16  4210198030681  42101-9803068-1
17  4220140225263  42201-4022526-3
18  4210164790696  42101-6479069-6
19  4240114707349  42401-1470734-9
20  4230123126547  42301-2312654-7
21  4210175076663  42101-7507666-3
22  4210103553847  42101-0355384-7
23  4250144488545  42501-4448854-5
24  4210120075463  42101-2007546-3
25  4250110257001  42501-1025700-1
26  4210124609792  42101-2460979-2
27  4210134163079  42101-3416307-9
28  4210141137977  42101-4113797-7
29  3520269403788  35202-6940378-8
30  4210115022744  42101-1502274-4
31  4210116966995  42101-1696699-5
32  4240179641627  42401-7964162-7
33  4210151751811  42101-5175181-1
34  4220101410369  42201-0141036-9
35  4220113316709  42201-1331670-9
36  4210146436547  42101-4643654-7
37  4230108335683  42301-0833568-3
38  4210129511133  42101-2951113-3
39  4410242997959  44102-4299795-9
40  4250125987808  42501-2598780-8
41  4210133115704  42101-3311570-4
42  4420626938874  44206-2693887-4
43  4240105171159  42401-0517115-9
44  4220156089133  42201-5608913-3
45  4210183427183  42101-8342718-3
46  4250119167549  42501-1916754-9
47  4230139662957  42301-3966295-7
48  4250106544552  42501-0654455-2
49  4220169252467  42201-6925246-7
50  4210145447712  42101-4544771-2
51  4220159083880  42201-5908388-0
52  3130399221225  31303-9922122-5
53  4240160019477  42401-6001947-7
54  4220113823383  42201-1382338-3
55  4230189725317  42301-8972531-7
56  4210156195059  42101-5619505-9

In [ ]:
cnic.to_excel("attendance.xls")